/* color */

$clr-neutral-100 : hsl(0, 0%, 100%);
$clr-neutral-700: hsl(0, 0%, 20%);
$clr-neutral-800: hsl(0,0%,12%);
$clr-neutral-900: hsl(0,0%,8%);

$clr-accent-300: hsl(75, 94%, 57%);

/* typography */

$font-family-primary: 'Inter';

$fw-regular: 400;
$fw-bold: 600;

$fs-300: 14px;
$fs-600: 24px;
/* spacing */

$sz-50: 4px;
$sz-100: 8px;
$sz-150: 12px;
$sz-200: 16px;
$sz-300: 24px;
$sz-500: 40px;